<div class="bg-white shadow-sm p-3 rounded mb-4 flex-shrink-0">
<h2>Menadžment firmi 🎉</h2>
<p>Ovdje možete pratiti sve firme i njihove informacije.</p>
</div>

<div class="d-flex justify-content-end mb-3">
  <button class="btn btn-primary" (click)="openCreateCompanyModal()">Dodaj firmu</button>

</div>

<div class="mt-3">
    <table class="table table-borderless text-center">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Naziv</th>
      <th scope="col">pib</th>
      <th scope="col">upin</th>
      <th scope="col">Adresa</th>
      <th scope="col">Država</th>
      <th scope="col">Grad</th>
      <th scope="col">Zip code</th>
      <th scope="col">Email</th>
      <th scope="col">Web site</th>
      <th scope="col">Akcije</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let company of companies;" class="align-middle">
        <th scope="row">{{ company.companyId }}</th>
        <td>{{ company.name }}</td>
        <td>{{ company.pib }}</td>
        <td>{{ company.upin }}</td>
        <td>{{ company.address }}</td>
        <td>{{ company.country }}</td>
        <td>{{ company.city }}</td>
        <td>{{ company.postalCode }}</td>
        <td>{{ company.email }}</td>
        <td>{{ company.website }}</td>
        <td>
            <button class="btn btn-sm btn-outline-primary me-2" (click)="openUpdateCompanyModal(company)">
            <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="deleteCompany(company.companyId)">
            <i class="bi bi-trash"></i>
            </button>
        </td>
    </tr>

  </tbody>
</table>
</div>

<app-upsert-companies-modal
  [show]="showModal"
  [isCreateCompanyModal]="isCreateCompanyModal"
  (closed)="closeModal()"
  (confirmed)="confirmModal($event)"
  [companyForm]="companyForm"
  [title]="modalTitle"
></app-upsert-companies-modal>
