<div class="d-flex flex-column flex-md-row h-100">
  <nav class="bg-light p-3" [class.d-none]="!sidebarOpen && isSmallScreen" style="width: 280px;" id="sidebar"
  [ngStyle]="{ width: sidebarCollapsed ? '70px' : '280px' }"
  [class.collapsed]="sidebarCollapsed">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <a class="fs-4 text-decoration-none link-dark" routerLink="/"><span *ngIf="!sidebarCollapsed">Navigator</span></a>
      <button class="btn d-md-none" (click)="sidebarOpen = false">
        <i class="bi bi-x-lg fs-5"></i>
      </button>
    </div>
    <hr>
   <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a routerLink="companies-managment" routerLinkActive="active" class="nav-link">
          <i class="bi bi-buildings"></i> <span *ngIf="!sidebarCollapsed"> Menadžment firmi</span>
        </a>
      </li>
      <li>
        <a routerLink="organization-units-managment" routerLinkActive="active" class="nav-link">
          <i class="bi bi-book"></i> <span *ngIf="!sidebarCollapsed"> Menadžment organizacionih jedinica</span>
        </a>
      </li>
            <li class="nav-item">
        <a routerLink="user-managment" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-person-gear"></i> <span *ngIf="!sidebarCollapsed"> Menadžment korisnika</span>
        </a>
      </li>
      <li>
        <a routerLink="price-list" routerLinkActive="active" class="nav-link">
          <i class="bi bi-tag"></i> <span *ngIf="!sidebarCollapsed"> Cjenovnik inventara</span>
        </a>
      </li>
      <li>
        <a routerLink="order-managment" routerLinkActive="active" class="nav-link">
          <i class="bi bi-box-seam"></i> <span *ngIf="!sidebarCollapsed"> Narudžbe</span>
        </a>
      </li>
      <li>
        <a routerLink="inventory-managment" routerLinkActive="active" class="nav-link">
          <i class="bi bi-box-seam"></i> <span *ngIf="!sidebarCollapsed"> Menadžment inventara</span>
        </a>
      </li>
      <li>
        <a routerLink="graphs" routerLinkActive="active" class="nav-link">
          <i class="bi bi-bar-chart-line"></i> <span *ngIf="!sidebarCollapsed"> Graf</span>
        </a>
      </li>
    </ul>

  </nav>

  <div class="p-2 bg-light border-bottom w-100 d-md-none d-flex justify-content-between align-items-center">
    <button class="btn" (click)="sidebarOpen = true">
      <i class="bi bi-list fs-3"></i>
    </button>
    <span class="fw-bold">Navigator</span>
  </div>

  <button class="btn btn-sm smooth-btn w-auto" (click)="toggleSidebarCollapse()" title="Preklopi meni">
    <i class="bi" [ngClass]="sidebarCollapsed ? 'bi-caret-right' : 'bi-caret-left'"></i>
  </button>

</div>
