<nav class="sidebar">
  <!-- Header -->
  <div class="sidebar-header">
    <i class="bi bi-compass"></i>
    <span class="nav-text">Navigator</span>
  </div>

  <!-- Navigation -->
  <ul class="nav-list">
    @for (r of routes; track $index) {
      @if(r.data?.['roles']?.includes(role)) {
        <li>
          <a routerLink="{{ r.path }}" routerLinkActive="active" title="{{ r.data?.['title'] }}">
            <i class="{{ r.data?.['icon'] }}"></i>
            <span class="nav-text">{{ r.data?.['title'] }}</span>
          </a>
        </li>
      }
    }
  </ul>
</nav>