<div class="bg-white shadow-sm p-3 rounded mb-4 text-center text-md-start">
  <h2>Narudžbe</h2>
  <p>Pregled narudžbi i njihovih informacija.</p>
</div>

<form
  class="w-100 mb-2 p-1"
  [formGroup]="orderFilterForm"
  (ngSubmit)="onFilterSubmit()"
>
  <!-- Glavni flex -->
  <div class="d-flex align-items-end justify-content-between w-100">

    <!-- Lijeva grupa -->
    <div class="d-flex align-items-end flex-wrap">
      <div class="me-2">
        <label for="startDate" class="form-label">Select date:</label>
        <input
          id="startDate"
          type="text"
          class="form-control"
          bsDatepicker
          formControlName="startDate"
          [bsConfig]="bsConfig"
        />
      </div>

      <div class="me-2">
        <label for="endDate" class="form-label">Select date:</label>
        <input
          id="endDate"
          type="text"
          class="form-control"
          bsDatepicker
          formControlName="endDate"
          [bsConfig]="bsConfig"
          [minDate]="orderFilterForm.get('startDate')?.value"
        />
      </div>

      <div class="me-2">
        <label for="statusSelected" class="form-label">Status</label>
        <select id="statusSelected" class="form-select" formControlName="status">
          <option value="" selected>Svi statusi</option>
          <option *ngFor="let status of orderStatuses" [value]="status">
            {{ statusTranslate(status) }}
          </option>
        </select>
      </div>

      <div class="me-2">
        <button class="btn btn-outline-success" type="submit">Filtriraj</button>
      </div>
    </div>

    <!-- Dugme DESNO -->
    <button class="btn btn-primary me-2" type="button" (click)="openCreateOrderModal()">
      Dodaj
    </button>
  </div>
</form>






<div class="table-responsive mt-3">
  <table #ordersTable id="ordersTable" class="table table-borderless text-center">
    <thead>
      <tr>
        <th>Id</th>
        <th>Ukupno</th>
        <th>Status</th>
        <th>Datum kreiranja narudžbe</th>
        <th>Datum poslednje promjene</th>
        <th>Akcija</th>
      </tr>
    </thead>
    <tbody>
      @for (order of orders; track $index) {
        <tr [id]="'row-' + order.orderId"
            [ngClass]="{
              'highlight-success': order.orderId === highlightedRowId && order.status === OrderStatus.COMPLETED,
              'highlight-primary': order.orderId === highlightedRowId && order.status === OrderStatus.APPROVED
            }">
          <th>{{ order.orderId }}</th>
          <td>{{ order.totalPrice }} KM</td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'bg-secondary': order.status === OrderStatus.IN_PROGRESS,
                'bg-warning': order.status === OrderStatus.PENDING,
                'bg-primary': order.status === OrderStatus.CHANGED,
                'bg-info': order.status === OrderStatus.APPROVED,
                'bg-success': order.status === OrderStatus.COMPLETED
              }"  
            >
          <td>{{ order.quantity }}</td>

              {{ statusTranslate(order.status) }}
            </span>
          </td>
          <td>{{ order.createdAt | date:'medium' }}</td>
          <td>{{ order.updatedAt | date:'medium' }}</td>
          <td>
            <button class="btn btn-sm btn-outline-success me-2" (click)="forwardStatus(order.orderId)">
              <i class="bi bi-fast-forward-circle"></i>
            </button>
            <button class="btn btn-sm btn-outline-primary me-2" (click)="openUpdateOrderModal(order)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="deleteOrder(order.orderId)">
              <i class="bi bi-trash"></i>
        </button>
          </td>
      }
    </tbody>
  </table>
</div>


