<div class="bg-white shadow-sm p-3 rounded mb-4 text-center text-md-start">
  <h2>Menadžment Porudžbina 🎉</h2>
  <p>Ovdje možete pratiti sve porudžbine i njihove statuse.</p>
</div>

<form class="d-flex align-items-end w-100" [formGroup]="orderFilterForm" (ngSubmit)="onFilterSubmit()">
  
  <!-- Lijeva grupa -->
  <div class="d-flex align-items-end">
    <div class="me-2">
      <label for="startDate" class="form-label">Select date:</label>
      <input
        id="startDate"
        type="text"
        class="form-control"
        bsDatepicker
        formControlName="startDate"
        [bsConfig]="bsConfig"
      />
    </div>

    <div class="me-2">
      <label for="endDate" class="form-label">Select date:</label>
      <input
        id="endDate"
        type="text"
        class="form-control"
        bsDatepicker
        formControlName="endDate"
        [bsConfig]="bsConfig"
        [minDate]="orderFilterForm.get('startDate')?.value"
      />
    </div>

    @if(role === 'ADMIN') {
      <div class="col-12 col-md-2 me-2">
        <label for="companySelected" class="form-label">Firma</label>
        <select id="companySelected" class="form-select" formControlName="companyId" required>
          <option value="{{0}}" selected>Sve firme</option>
          <option *ngFor="let company of companies" value="{{company.companyId}}">{{ company.name }}</option>
        </select>
      </div>
    }

    @if(orderFilterForm.get('companyId')?.value) {
      <div class="col-12 col-md-2 me-2">
        <label for="orgUnitSelected" class="form-label">Filijala</label>
        <select id="orgUnitSelected" class="form-select" formControlName="orgUnitId">
          <option value="0" selected>Sve filijale</option>
          <option *ngFor="let orgUnit of getOrgUnitsByCompanyId(orderFilterForm.get('companyId')?.value)" [value]="orgUnit.orgUnitId">{{ orgUnit.name }}</option>
        </select>
      </div>
    }

    <div class="col-12 col-md-2 me-2">
      <label for="statusSelected" class="form-label">Status</label>
      <select id="statusSelected" class="form-select" formControlName="status">
        <option value="" selected>Svi statusi</option>
        <option *ngFor="let status of orderStatuses" [value]="status">{{ statusTranslate(status) }}</option>
      </select>
    </div>

    <div class="me-2 me-2">
      <button class="btn btn-outline-success" type="submit">Filtriraj</button>
    </div>
  </div>

  <!-- Dugme sa plus desno -->
  <button class="btn btn-primary ms-auto" type="button" (click)="openCreateOrderModal()">
    <!-- <i class="bi bi-plus"></i>
     <span>Nova porudžbina</span> -->
     Dodaj
  </button>

</form>




<div class="table-responsive mt-3">
  <table #ordersTable id="ordersTable" class="table table-borderless text-center">
    <thead>
      <tr>
        <th>Id</th>
        <th>Ukupno</th>
        <th>Status</th>
        <th>Datum kreiranja narudžbe</th>
        <th>Datum poslednje promjene</th>
        <th>Akcija</th>
      </tr>
    </thead>
    <tbody>
      @for (order of orders; track $index) {
        <tr>
          <th>{{ order.orderId }}</th>
          <td>{{ order.user?.label }}</td>
          <td>{{ order.product?.name }}</td>
          <td>{{ order.product?.price }} KM</td>
          <td>{{ order.quantity }}</td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'bg-warning': order.status === OrderStatus.PENDING,
                'bg-primary': order.status === OrderStatus.CHANGED,
                'bg-info': order.status === OrderStatus.APPROVED,
                'bg-success': order.status === OrderStatus.COMPLETED
              }"  
            >
              {{ statusTranslate(order.status) }}
            </span>
          </td>
          <td>{{ order.createdAt | date:'medium' }}</td>
          <td>{{ order.updatedAt | date:'medium' }}</td>
          <td>
            <button class="btn btn-sm btn-outline-primary me-2" (click)="openUpdateOrderModal(order)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="deleteOrder(order.orderId)">
              <i class="bi bi-trash"></i>
        </button>
          </td>
      }
    </tbody>
  </table>
</div>


