<div class="bg-white shadow-sm p-3 rounded mb-4 flex-shrink-0">
  <h2>Menadžment Filijala 🎉</h2>
  <p>Ovdje možete pratiti sve filijale i njihove informacije.</p>
</div>


<form class="row g-3 align-items-end mb-2 mx-3" [formGroup]="filterForm" (ngSubmit)="onFilterSubmit()">
  @if(role === 'ADMIN') {
    <div class="col-4 col-md-2">
      <label for="companySelected" class="form-label">Firma</label>
      <select id="companySelected" class="form-select" formControlName="companyId" required>
        <option value="0" selected>Sve firme</option>
        <option *ngFor="let company of companies" [value]="company.companyId">{{ company.name }}</option>
      </select>
    </div>

    <div class="col-4 col-md-2">
      <button class="btn btn-sm btn-outline-success w-100" type="submit">Filtriraj</button>
    </div>
  }

  <div class="col-sm-4 col-md-8 d-flex justify-content-end align-items-end">
    <button class="btn btn-primary" (click)="openCreateOUModal()">Dodaj Filijalu</button>
  </div>
</form>

<div class="table-responsive">
  <table class="table table-hover table-borderless text-center align-middle">
    <thead>
      <tr>
        <th scope="col">Id</th>
        @if (role === 'ADMIN') {
          <th scope="col">Naziv firme</th>
        }
        <th scope="col">Naziv</th>
        <th scope="col">Šifra</th>
        <th scope="col">Akcije</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let orgUnit of orgUnits;" class="align-middle">
        <th>{{ orgUnit.orgUnitId }}</th>
        @if (role === 'ADMIN') {
          <td>{{getCompanyName(orgUnit.companyId!)}}</td>
        }
        <td>{{ orgUnit.name }}</td>
        <td>{{ orgUnit.code }}</td>
        <td>
          <button class="btn btn-sm btn-outline-primary me-md-1 mb-sm-1 mb-md-0" (click)="openUpdateOUModal(orgUnit)">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="btn btn-sm btn-outline-danger" (click)="deleteOrgUnit(orgUnit.orgUnitId)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>

    </tbody>
  </table>
  
</div>

