/* MAIN PANEL CONTAINER */
.main-panel-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.route-animation-wrapper {
  position: relative;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  /* Dodaj dovoljno prostora na dnu da poslednji red bude vidljiv */
  padding-bottom: 3rem; /* možeš povećati ako treba */
  box-sizing: border-box; /* da padding ulazi u izračun visine */
}






/* CHILD KOMPONENTE - block display sa padding */
.route-animation-wrapper > *:not(router-outlet) {
  display: block;
  width: 100%;
  padding: 1.5rem;
  
  /* Smooth scroll */
  -webkit-overflow-scrolling: touch;
}

router-outlet {
  display: none;
}

