/* MAIN PANEL CONTAINER */
.main-panel-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* ANIMATION WRAPPER */
.route-animation-wrapper {
  position: relative;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

/* CHILD KOMPONENTE - block display sa padding */
.route-animation-wrapper > *:not(router-outlet) {
  display: block;
  width: 100%;
  padding: 1.5rem;
  
  /* Smooth scroll */
  -webkit-overflow-scrolling: touch;
}

router-outlet {
  display: none;
}