


h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600; /* lijepi, masni naslovi */
}


html, body, app-root {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;

}


table {
  overflow: visible !important;
}

.table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f8f9fa;
}

.card-body, .card, form {
  overflow: visible !important;
}

select:hover {
  cursor: pointer;
}

option:hover {
  cursor: pointer;
}

.form-check-input {
  cursor: pointer;
}

.table-responsive {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}